<div class="row">
  <div class="large-8 large-centered columns">
    <h1><%= t("Glossary") %></h1>

    <div class="content">
      <% @terms.each do |term| %>
        <h2><%= link_to term.name, glossary_path(term) %></h2>
        <%= html(term.body, glossary: { once: false }) %>
      <% end %>
    </div>
  </div>
</div>
