<div class="row">
  <div class="large-8 large-centered columns">
    <h1><%= @term.name %></h1>

    <div class="content">
      <%= html(@term.body, glossary: true) %>
    </div>

    <% if @term.synonyms? %>
      <strong>Synonyms:</strong> <%= @term.synonyms.join(", ") %>
    <% end %>
  </div>
</div>
