$eff-red: #CC0000;
$light-teal: #c7dddb ;
$teal: #87c4c6;
$dark-teal: #518c91;
$darkest-teal: #386165;
$charcoal: #4C4C4C;
$gray: #888888;
$light-gray: #F2F5F6;
$dark-gray: #686868;

// lesson colors
$beginner: #B79D30;
$intermediate: #477729;
$advanced: #A34B4A;
