<div class="article card">
  <h3><%= link_to article.name, article %></h3>
  <% if article.authorship.present? %>
    <div class="byline">by <span class="author"><%= article.authorship %></span></div>
  <% end %>
</div>
