<h1><%= @topic.name %></h1>

<div class="tabs">
  <% @topic.lessons.each do |lesson| %>
    <div class="tab <%= "active" if @lesson == lesson %>">
      <%= link_to "#{lesson.level} lesson", [@topic, lesson], remote: true %>
    </div>
  <% end %>
</div>

<div id="tab-content">
  <%= render @lesson %>
</div>


