
.share-links {
  position: sticky;
  top: 2rem;

  @include breakpoint(medium) {
    float: left;
    margin-left: -80px;
  }

  @include breakpoint(large) {
    margin-left: -100px;
  }

  > a {
    display: inline-block;
    margin-right: 0.5rem;

    @include breakpoint(medium) {
      display: block;
      margin-right: 0;
    }

    &:not(:first-child) {
      margin-top: 1rem;
    }

    width: 54px;
    height: 54px;
    background-color:black;
    background-image: image-url("social-icons.png");

    &.facebook {
      background-position:70% 0 ;
    }

    &.twitter {
      background-position: 50% 0;
    }

    &.google {
      background-position: 20% 0;
    }
  }
}
