
.share-links {
  z-index: 10000;
  position: relative;

  a {
    display: inline-block;
    margin-right: 0.5rem;
    width: 54px;
    overflow: hidden;

    @include breakpoint(medium) {
      position: absolute;
      display: block;
      margin-right: 0;
    }

    i {
      display: inline-block;
      width: 54px;
      height: 54px;
      background-color: black;
      background-image: image-url("social-icons.png");
    }

    &.facebook i {
      background-position: 70% 0;
    }

    &.facebook span {
      background-color: #1e4389;
    }


    &.twitter {
      top: 4.2rem;
    }

    &.twitter i {
      background-position: 50% 0;
    }

    &.twitter span {
      background-color: #28aae1;
    }

    &.google {
      top: 8.4rem;
    }

    &.google i {
      background-position: 20% 0;
    }

    &.google span {
      background-color: #d5492c;
    }

    span {
      position: absolute;
      left: 62px;
      width: 12rem;
      height: 54px;
      line-height: 54px;
      padding-left: 0.9rem;

      color: #fff;

      display: none;

      @include breakpoint(medium) {
        display: inline-block;
      }
    }

    &:hover,
    &:focus {
      width: 20rem;
      transition: width 170ms;
    }
  }
}
