.badge {
  display: inline-block;
  min-width: 1.6em;
  margin: 0 0.25rem 0 0;
  padding: 0.01em 0.01em 0.01em 0.02em;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  background: $gray;
  color: #fefefe;
}

// lesson colors
.beginner {
  background-color: #B79D30;
}
.intermediate {
  background-color: #477729;
}
.advanced {
  background-color: #A34B4A;
}
