.card {
  border: 2px solid $light-teal;
  border-top: 16px solid $light-teal;
  display: inline-block;
  margin: 1rem 0 0;
  position: relative;
  width: 100%;

  h3 {
    text-transform: capitalize;
    a {
      display: block;
      color: black;
    }
  }

  @include breakpoint(medium) {
    margin: 0 1rem 3rem 0;
  }

  .top {
    min-height: 8rem;
    padding: 1.5rem 1.5rem 0 1rem;
    margin-bottom: 2.3rem;
    position: relative;
    .flag {
      display: inline-block;
      position: absolute;
      left: 0;
      top: -1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      background-color: $dark-teal;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      @include breakpoint(inbetween) {
        left: -0.8rem;
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .fold {
    &:before {
      content: "";
      position: absolute;
      bottom: 0%;
      right: 0%;
      width: 2.3rem;
      height: 2.3rem;
      border-top: 2px solid $light-teal;
      border-left: 2px solid $light-teal;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0%;
      right: 0%;
      width: 0px;
      height: 0px;
      border-bottom: 2.2rem solid $light-teal;
      border-left: 2.2rem solid transparent;
    }
  }

  .content-type {
    font-size: 0.8rem;
    font-weight: bold;
    color: $dark-teal;
    text-transform: uppercase;
  }
}

a .card .byline {
  color: #000000;
}

.section-home.page-index {
  .article.card .content {
    display: none;
  }
}

.section-home div.topic.card,
.section-home div.material.card,
.section-materials .card {
  .top {
    position: relative;
  }
  @include breakpoint(xlarge) {
    .top {
      position: absolute;
      margin-bottom: 0;
    }
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}

.duration {
  color: $darkest-teal;
  line-height: 1.1rem;
  text-transform: uppercase;
}

.preview-card {
  @extend .card;
  border-color: $advanced;
  .top .flag {
    background-color: #ca4e5f;
  }
  .btn {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ca4e5f;
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.133333px;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    min-width: 88px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease;
  }

  .btn:hover {
    background-color: $advanced;
  }

  .btn-back {
    @extend .btn;
    background-color: $dark-gray;
  }

  .btn-back:hover {
    background-color: $gray;
  }
}
