.card {
  border: 2px solid $light-teal;
  border-top: 16px solid $light-teal;
  display: inline-block;
  margin: 1rem 0 0;
  position: relative;
  width: 100%;

  h3 {
    text-transform: capitalize;
    a {
      display: block;
      color: black;
    }
  }

  @include breakpoint(medium) {
    margin: 0 1rem 3rem 0;
  }

  .top {
    min-height: 8rem;
    padding: 1.5rem 1.5rem 0 1rem;
    margin-bottom: 2.3rem;
    position: relative;
    .flag {
      display: inline-block;
      position: absolute;
      left: 0;
      top: -1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      background-color: $dark-teal;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      @include breakpoint(inbetween) {
        left: -2rem;
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .fold {
    &:before {
      content: "";
      position: absolute;
      bottom: 0%;
      right: 0%;
      width: 2.3rem;
      height: 2.3rem;
      border-top: 2px solid $light-teal;
      border-left: 2px solid $light-teal;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0%;
      right: 0%;
      width: 0px;
      height: 0px;
      border-bottom: 2.2rem solid $light-teal;
      border-left: 2.2rem solid transparent;
    }
  }
}

a .card .byline {
  color: #000000;
}

.section-home.page-index {
  .article.card .content {
    display: none;
  }
}

.section-home div.topic.card,
.section-home div.material.card,
.section-materials .card {
  .top {
    position: relative;
  }
  @include breakpoint(xlarge) {
    .top {
      position: absolute;
      margin-bottom: 0;
    }
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}

.duration {
  color: $darkest-teal;
  line-height: 1.1rem;
  text-transform: uppercase;
}
