footer {
  background-color: $light-teal ;
  color: $darkest-teal;
  padding: 2rem 0;
  a {
    text-decoration: underline;
  }
  h1 {
    color: $darkest-teal;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
  }
  .large-6 img {
    display: block;
    margin: 0 auto;
  }
}
