footer {
  display: none; //small screens
  background-color: $light-teal ;
  color: $darkest-teal;
  margin: 0;
  padding: 2rem 0;
  a,
  a:focus,
  a:active,
  a:visited {
    color: $darkest-teal;
    text-decoration: underline;
  }
  h1 {
    color: $darkest-teal;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    @include breakpoint(medium) {
      font-size: 2.5rem;
    }
  }
  img {
    display: block;
    margin: 0 auto 1rem;
    max-width: 200px;
    @include breakpoint(medium) {
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .footer-links {
    margin-top: 5rem;
    ul {
      list-style: none;
      li {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
  }

  @include breakpoint(medium) {
    display: block;
  }
}
