.header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $light-teal;
  color: black;
  min-height: 4.5rem;
  @include breakpoint(medium) {
    display: block;
    min-height: none;
  }
  a {
    color: inherit;
  }
}

.top-bar {
  background-color: $light-teal;
  width: 34%;
  line-height: 1.3rem;
  font-weight: 400;

  @include breakpoint(medium) {
    width: 150px;
    align-items: stretch;
  }

  .back-arrow {
    display: table-cell;
    vertical-align: middle;
    font-weight: 100;
    font-size: 2.5rem;
    padding-right: 0.8rem;
  }

  .back-ssd {
    font-size: 13px;
    a {
      display: block;
      text-decoration: none;
    }
  }

  .back-text {
    display: table-cell;
    vertical-align: middle;
    line-height: 1rem;
    max-width: 100px;
    margin-left: 0.5rem;

    @include breakpoint(medium) {
      line-height: 1rem;
      max-width: none;
    }
  }

  @include breakpoint(medium) {
    font-size: 1rem;
    width: 100%;
    padding: 0;
    text-transform: uppercase;

    .back-ssd {
      max-width: 22rem;
      background-color: $dark-teal;
      padding: 0.5rem;
      flex: 1;
      padding-right: 1rem;
    }

    .back-arrow {
      font-size: 2rem;
      padding-right: 0.5rem;
    }

    .tagline {
      color: $light-teal;
      background-color: black;
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    .tagline-bevel {  // to create left-pointing arrow out of tagline on tobpar
      background:
      linear-gradient(135deg,  $dark-teal 1.2rem, transparent 1rem),
      linear-gradient(45deg,  $dark-teal 1.2rem, transparent 1rem);
      width: 44px;
      height: 100%;
    }

    .eff-tagline {
      font-size: 0.8rem;
    }
  }
}

header {
  display: inherit;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
  width: 70%;
  @include breakpoint(medium) {
    display: block;
    padding: 0.5rem;
    width: auto;
  }
  .logo {
    float: none;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 40%;
    @include breakpoint(medium) {
      float: left;
      left: inherit;
      position: relative;
    }
    img {
      height: auto;
      max-width: 64px;
      @include breakpoint(medium) {
        max-width: 68px;
      }
    }
  }

  .site-name {
    display: none;
    @include breakpoint(medium) {
      display: inline-block;
      padding-top: 6px;
      padding-left: 85px;
      max-width: 340px;
    }
  }

  .site-name-mobile {
    display: inline-block;
    font-size: 2rem;
    position: absolute;
    left: 70%;
    top: 1.35rem;
    @include breakpoint(medium) {
      display: none;
    }
  }

  a {
    text-decoration: none;
  }

  @include breakpoint(medium) {
    min-height: 170px;
    text-align: center;
    font-size: 2.3rem;
    line-height: 2.5rem;
    font-weight: 300;
    padding: 2rem;

    .logo {
      display: inline-block;
      float: none;
    }

    .logo img {
      max-width: 100px;
    }

    .site-name {
      max-width: none;
      padding: 20px 0 0 1rem;
      display: inline-block;
    }
  }
}

.section-home header {
  @include breakpoint(medium) {
    .logo {
      display: block;
    }

    .logo img {
      max-width: 150px;
    }

    .site-name {
      padding-left: 0;
      display: block;
    }
  }
}


#main-menu {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  clear: both;
  margin-bottom: 3rem;
  background: $darkest-teal;
  .row {
    margin-top: 0;
  }
  a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    background-color: $light-teal;

    li {
      flex: 1;
      margin: 0 2px;
      background-color: $darkest-teal;
      a {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 100%;
        padding: 0.2rem 4%;
        font-size: 1.2rem;
      }

      &:first-child {
        margin-left: 4px;
      }

      &:last-child {
        margin-right: 4px;
      }
    }

    @include breakpoint(medium only) {
      li {
        margin: 0;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          font-size: 1rem;
          padding: 0 1%;
        }
      }
    }
  }

  @include breakpoint(small only) {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    z-index: 1000;
    ul {
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding: 0;
      li {
        min-height: 4rem;
        padding: 0 0rem;
        font-size: 0.8rem;
        line-height: 0.8rem;
        a {
          font-size: 0.75rem;
          line-height: 0.8rem;
          padding-top: 0.4rem;
        }
      }
    }

    li {
      background: $darkest-teal;
      padding: 13px 17px;
      flex-grow: 1;
      margin: 0 2px;
    }
  }
}
