.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: $light-teal;
  color: black;

  @include breakpoint(medium) {
    display: block;
  }
}

.top-bar {
  background-color: $light-teal;
  width: 150px;

  @include breakpoint(medium) {
    width: 100%;
  }

  .back-arrow {
    float: left;
    font-size: 5.5rem;
    font-weight: 100;
    line-height: 1.3rem;
  }

  .back-text {
    line-height: 1.3rem;
    display: block;
    padding-left: 40px
  }

  .tagline-bevel {  // to create left-pointing arrow out of tagline on tobpar
    background:
    linear-gradient(135deg,  $dark-teal 1.1rem, transparent 1rem),
    linear-gradient(45deg,  $dark-teal 1.1rem, transparent 1rem);
    width: 6%;
    height: 100%;
  }
}

header {
  padding: 0.5rem;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;

  // @include breakpoint(medium) {
  //   padding: 3rem 0 4rem;
  // }

  .logo {
    float: left;
    display: inline-block;

    img {
      height: auto;
      max-width: 68px;
    }
  }

  .site-name {
    padding-top: 6px;
    padding-left: 85px;
    max-width: 340px;
  }

  // .site-name {
  //   background: none;
  //   @include breakpoint(medium) {
  //     background: image-url("sec-logo.png");
  //     background-repeat: no-repeat;
  //     background-size: 8rem;
  //     height: 8rem;
  //     width: 100%;
  //     min-width: 768px;
  //     background-position: 3rem 0rem;
  //     margin: 0 auto;
  //     padding: 2.7rem 0 0;
  //   }
  //   @include breakpoint(large) {
  //     background-position: 5rem 0rem;
  //     max-width: 1200px;
  //   }
  // }
}

.section-home {
  .logo {
    display: inline-block;
    float: none;
    margin-bottom: 0.5rem;
    @include breakpoint(medium) {
      margin-bottom: 2rem;
    }
    img {
      @include breakpoint(medium) {
        max-width: 150px;
      }
    }
  }
  .site-name {
    background: none;
  }
}


#main-menu {
  clear: both;

  margin-bottom: 4rem;
  text-align: center;
  background: $darkest-teal;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  ul li {
    border-left: none;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    width: 100%;
    @include breakpoint(medium) {
      border-left: 4px solid $light-teal;
      padding: 0.2rem 3%;
      width: auto;
    }
    &:last-child {
      border-right: none;
      @include breakpoint(medium) {
        border-right: 4px solid $light-teal;
      }
    }
    a {
      color: white;
      font-size: 1.2rem;
      text-decoration: none;
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
