.header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $light-teal;
  color: black;
  min-height: 4.5rem;
  @include breakpoint(medium) {
    display: block;
    min-height: none;
  }
  a {
    color: inherit;
  }
}

.top-bar {
  background-color: $light-teal;
  width: 34%;
  align-items: stretch;
  line-height: 1.3rem;
  @include breakpoint(medium) {
    width: 150px;
  }
  .back-arrow {
    float: left;
    font-size: 5.5rem;
    font-weight: 100;
  }

  .back-ssd {
    font-size: 13px;
    padding: 0.4rem 0.5rem 0 0;
  }

  .back-text {
    display: block;
    padding-left: 30px;
    a {
      text-decoration: none;
    }
    @include breakpoint(medium) {
      padding-left: 40px;
    }
  }

  @include breakpoint(medium) {
    font-size: 1rem;
    width: 100%;
    padding: 0;
    text-transform: uppercase;

    .back-ssd {
      background-color: $dark-teal;
      padding: 0.5rem;
      max-width: 300px;
    }

    .tagline {
      color: $light-teal;
      background-color: black;
      flex-basis: 0;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .tagline-bevel {  // to create left-pointing arrow out of tagline on tobpar
      background:
      linear-gradient(135deg,  $dark-teal 1.2rem, transparent 1rem),
      linear-gradient(45deg,  $dark-teal 1.2rem, transparent 1rem);
      width: 44px;
      height: 100%;
    }

    .eff-tagline {
      text-align: right;
      padding: 0.5rem;
      padding-right: 4%;
    }
  }
}

header {
  display: inherit;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.7rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
  width: 70%;
  @include breakpoint(medium) {
    display: block;
    padding: 0.5rem;
    width: auto;
  }
  .logo {
    float: none;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 40%;
    @include breakpoint(medium) {
      float: left;
      left: inherit;
      position: relative;
    }
    img {
      height: auto;
      max-width: 64px;
      @include breakpoint(medium) {
        max-width: 68px;
      }
    }
  }

  .site-name {
    display: none;
    @include breakpoint(medium) {
      display: inline-block;
      padding-top: 6px;
      padding-left: 85px;
      max-width: 340px;
    }
  }

  .site-name-mobile {
    display: inline-block;
    font-size: 2rem;
    position: absolute;
    left: 70%;
    top: 1.35rem;
    @include breakpoint(medium) {
      display: none;
    }
  }

  a {
    text-decoration: none;
  }

  @include breakpoint(medium) {
    min-height: 170px;
    text-align: center;
    font-size: 2.3rem;
    line-height: 2.5rem;
    font-weight: 300;
    padding: 33px 0 33px 0;

    .logo {
      display: inline-block;
      float: none;
    }

    .logo img {
      max-width: 100px;
    }

    .site-name {
      max-width: none;
      padding: 20px 0 0 1rem;
      display: inline-block;
    }
  }
}

.section-home header {
  @include breakpoint(medium) {
    .logo {
      display: block;
    }

    .logo img {
      max-width: 150px;
    }

    .site-name {
      padding-left: 0;
      display: block;
    }
  }
}


#main-menu {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  clear: both;
  margin-bottom: 3rem;
  background: $darkest-teal;
  .row {
    margin-top: 0;
  }
  a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  ul {  // menu for small and large screens
    li {
      display: inline-block;
      margin: 0;
      border-left: 4px solid $light-teal;
      padding: 0.2rem 4%;
      width: auto;
      a {
        font-size: 1.2rem;
      }
      &:last-child {
        border-right: 4px solid $light-teal;
      }
    }
  }


  .menu-items { // menu for medium screens
    margin: 0;
    padding: 0 1%;
    div {
      text-align: center;
    }
    a {
      font-size: 1rem;
    }
  }

  @include breakpoint(small only) {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    ul {
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding: 0;
      li {
        min-height: 4rem;
        padding: 0.6rem 0.1rem 0;
        font-size: 0.8rem;
        line-height: 0.8rem;
        a {
          font-size: 0.8rem;
          line-height: 0.8rem;
        }
      }
    }

    li {
      background: $darkest-teal;
      padding: 13px 17px;
      flex-grow: 1;
      margin: 0 2px;
    }
  }

}
