.difficulty-legend {
  margin: 0;
  li {
    display: inline-block;
    margin-right: 3rem;
  }
}

.difficulty-tag {
  color: #fefefe;
  display: inline-block;
  border-radius: 0.6rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0.25rem 0 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
// level colors
.difficulty-tag.b {
  background-color: #B79D30;
}
.difficulty-tag.i {
  background-color: #477729;
}
.difficulty-tag.a {
  background-color: #A34B4A;
}


.tags-list {
  a {
    color: $darkest-teal;
    border: 1px solid $darkest-teal;
    margin-right: 2rem;
    padding: 0.5rem;
    text-decoration: none;
  }
}

.section-topics {
  .lesson-back {
    a {
      color: $darkest-teal;
      font-weight: 600;
      margin-bottom: 1rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .last-modified {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .lesson-planner-link {
    background: $darkest-teal;
    color: white;
    display: inline-block;
    height: 3rem;
    margin-right: 2.95rem;
    padding: 0.5rem 1rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  .lesson-arrow {
    background: white;
    width: 0;
    height: 0;
    border-left: 1.5rem solid $darkest-teal;
    border-right: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-top: 1.5rem solid transparent;
    position: absolute;
    right: 0;
  }

  .topic.card {
    .description {
      font-size: 1.3rem;
      line-height: 1.7rem;
      margin-bottom: 2rem;
    }
    .levels {
      margin-bottom: 2rem;
    }
  }



  .tabs {
    margin-top: 3rem;
    overflow: hidden;
  }

  .tab {
    border: 1px solid $teal;
    border-bottom: none;
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem 3rem 0.5rem 1rem;
    position: relative;
    a {
      text-decoration: none;
      text-transform: uppercase;
      &:after {
        content: "i";
        font-size: 0;
        position: absolute;
        top: 1rem;
        right: 1rem;
        height: 1rem;
        width: 1rem;
      }
    }
    &:first-child {
      a::after {
        background: $beginner;
      }
    }
    &:nth-child(2) {
      a::after {
        background: $intermediate;
      }
    }
    &:nth-child(3) {
      a::after {
        background: $advanced;
      }
    }
  }

  .tab.active {
    border: 1px solid $darkest-teal;
    border-bottom: 1px solid white;
    top: 1px;
    a {
      color: $darkest-teal;
    }
  }

  #tab-content {
    border: 1px solid $dark-teal;
    padding: 2rem;
    .actions {
      input[type="submit"] {
        background: transparent;
        border: 2px solid $darkest-teal;
        color: $darkest-teal;
        display: inline-block;
        float: right;
        font-weight: 700;
        padding: 0.2rem 1rem;
        text-transform: uppercase;
      }
    }
  }
}
