.tags {
  margin-bottom: 2rem;
  a {
    border: 2px solid $darkest-teal;
    border-radius: 10px;
    color: $darkest-teal;
    display: inline-block;
    line-height: 1.5rem;
    margin: 0 2rem 1rem 0;
    padding: 0rem 0.5rem;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
      color: white;
      background-color: $darkest-teal;
    }
  }
  a.active {
    color: white;
    background-color: $darkest-teal;
  }
}
