<label class="checkmark">
  <span class="box">
    <%= check_box_tag name, "1", true %>
    <span class="fa fa-square-o"></span>
    <span class="fa fa-check-square-o"></span>
  </span>

  <%= label %>
</label>

