<%= link_to article do %>
  <div class="article card">
    <div class="top">
      <% if article.flag? %>
        <div class="flag"><%= article.flag %></div>
      <% end %>

      <h3><%= article.name %></h3>
      <% if article.authorship.present? %>
        <div class="byline">by <span class="author"><%= article.authorship %></span></div>
      <% end %>
    </div>

    <div class="bottom">
      <div class="flag">&nbsp;</div>
      <div class="fold"></div>
    </div>
  </div>
<% end %>
