<div class="topic card">
  <h3><%= link_to topic.name, topic %></h3>
  <div class="tags"><%= tags(topic, :topics_path) %></div>
  <div class="duration"><%= duration_in_words(topic.lessons.take) %></div>
  <div class="levels"><%= difficulty_tag(topic.lessons.map(&:level_id)) %></div>
</div>
