<div class="tags">
  <%= link_to "All tags", url_for, class: params[:tag].present? ? "" : "active" %>

  <% @tags.each do |tag| %>
    <%= link_to tag.name, url_for(tag: tag.name),
          class: tag.name == params[:tag] ? "active" : "" %>
  <% end %>
</div>

