<% if lesson.duration? %>
  <div class="duration">
    Duration: <%= lesson.duration.in_words %>
  </div>
<% end %>

<% if lesson.objective? %>
  <div class="objective">
    <h3>Learning Objectives</h3>
    <div class="content">
      <%= lesson.objective.html_safe %>
    </div>
  </div>
<% end %>
