<h1><%= @topic.name %></h1>

<div class="content">
  <% if @lesson.objective? %>
    <div class="objective">
      <div class="label">Learners will:</div>
      <div class="content">
        <%= @lesson.objective %>
      </div>
    </div>
  <% end %>

  <div class="content">
    <%= @lesson.body.html_safe %>
  </div>
</div>
