body {
  background-color: white;
  color: black;
  font-size: $default-font-size;
  font-family: $sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

a {
  color: $darkest-teal;
  text-decoration: underline;
  &:focus,
  &:active,
  &:hover {
    color: black;
  }
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: $sans-serif;
  text-align: left;
  font-weight: 700;

  a {
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  @include breakpoint(medium) {
    line-height: 2.3rem;
    margin-bottom: 1.6rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
  margin-top: 3rem;
  @include breakpoint(medium) {
    line-height: 1.7rem;
    margin-bottom: 1.6rem;
  }
}


h3 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 0.7rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  font-style: italic;
  text-align: left;
}

h5 {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  text-align: left;
}

h6 {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.6rem;
  margin: 0 1rem 1.7rem 1rem;
  text-align: left;
}

p {
  margin-bottom: 1rem;
}

pre,
kbd {
  font-family: monospace;
  background-color: $light-gray;
  padding: 10px;
  border-left: 3px solid $gray;
  overflow: auto;
  margin: 1em 30px 1em 10px;
}

code {
  background-color: $light-gray;
  font-family: monospace;
  color: $gray;
  line-height: 150%;
}

blockquote {
  border-left: 0.7rem solid $light-teal;
  color: $dark-gray;
  padding-right: 3rem;
  padding-left: 2rem;
  margin-bottom: 2.3rem; /* match <p> */
  p {
    color: $dark-gray;
  }
}

hr {
  border: none;
  height: 2px;
  color: $light-teal;
  background-color: $light-teal;
  width: 70%;
  margin: 3.5rem auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}


ul, ol {
  margin-left: 3rem;
}

.pull-quote {
  display: block;
  float: left;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  color: $dark-gray;
  max-width: 22rem;
  margin: 2rem 2rem 2rem 0rem;
  @include breakpoint(medium) {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}

.levels {
  margin: 1rem 0 0;
}

@include breakpoint(small only) {
  .large-8.large-centered.columns {
    padding: 0;
  }
}
