<div class="blog-post card">
  <h3><%= link_to blog_post.name, blog_post_path(blog_post) %></h3>
  <div class="byline-etc">
    <% if blog_post.authorship.present? %>
      <span class="byline">by <span class="author"><%= blog_post.authorship %></span></span> |
      <% end %>
      <span class="publised-at"><%= blog_post.published_at.strftime("%B %d, %Y") %></span>
  </div>
  <div class="tags"><%= tags(blog_post, :blog_path) %></div>
</div>
