<div class="row">
  <h1><%= @blog_post.name %></h1>

  <%= render partial: "shared/admin_links", locals: { resource: @blog_post } %>
  <div class="tags-list">
    <%= tags(@blog_post, :blog_path) %>
  </div>

  <div class="content">
    <%= @blog_post.body.html_safe %>
  </div>
</div>
