/*
 *= require select2
 *= require select2-bootstrap
 *= require font-awesome
*/

// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_material";
@import "admin/**/*";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.site_title a {
  color: white;

  &:visited {
    color: white;
  }

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.errors {
  margin-top: 8px;
  padding-top: 8px;
}

.handle.fa, .btn.fa {
  font-size: 1.4rem;
  vertical-align: middle;
  margin-right: 0.6rem;
}

.inputs.reorderable label, .handle, .btn.fa {
  cursor: pointer;
}

.has_many_container {
  li {
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .has_many_delete,
  .has_many_remove,
  .handle {
    margin-top: 40px;
  }

  .handle {
    padding-top: 10px;
  }

  .has_many_delete label > input {
    top: 2px;
  }
}

// Minimum column widths
.col-actions {
  min-width: 78px;

  a {
    display: inline-block;
  }
}

.col-id {
  min-width: 47px;
}

.sidebar_section {
  .select2 {
    width: 100%;
  }
}

.icon-gallery + .select2 .select2-selection {
  height: initial;

  img {
    display: block;
  }
}

.show_responses {
  h2 {
    margin-bottom: 0.5rem;
  }
}

table.histogram {
  .frequent {
    font-weight: bold;
  }

  td {
    padding-right: 2rem;

    &:last-child {
      min-width: 240px;
      display: flex;
    }
  }

  .bar {
    display: inline-block;
    background-color: #386165;
    margin-right: 0.3rem;
    height: 1rem;
    vertical-align: middle;
  }
}

.btn {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(0, 150, 136);
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.133333px;
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  min-width: 88px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-transform: uppercase;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
}

.btn:hover {
  background-color: rgb(0, 201, 182);
}
