@import "foundation_and_overrides";
@import "font-awesome";
@import "application/variables/**/*";
@import "application/base/**/*";
@import "application/components/**/*";
@import "application/*";

.center {
  text-align: center;
}

.row aside {
  display: inline-block;
  min-width: 10%;
  max-width: 25%;
}
