@import "foundation_and_overrides";
@import "application/variables/**/*";
@import "application/base/**/*";
@import "application/components/**/*";
@import "application/**/*";

.center {
  text-align: center;
}

.row {
  margin-top: 0;
  @media #{$medium-up} {
    margin-top: 2rem;
  }
}

.row aside {
  display: inline-block;
  min-width: 10%;
  max-width: 25%;
}
