/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.center {
  text-align: center;
}

.row {
  margin-top: 2rem;
}

.row aside {
  display: inline-block;
  min-width: 10%;
  max-width: 25%;
}

.card {
  display: inline-block;
  border: 1px solid #aaa;
  margin: 0 1rem;
  min-height: 10rem;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
}
