<%= render "content/teaser", content: material do %>
  <div class="material-preview">
    <%= thumbnail(material.first_file) %>
  </div>

  <h3>
    <%= link_to material.name, material %>
  </h3>

<% end %>
