<%= render "content/teaser", content: material do %>
  <div class="material-preview">
    <%= link_to file_preview(material.first_file), material, class: "file-preview"  %>
  </div>

  <h3>
    <%= link_to material.name, material %>
  </h3>

<% end %>
