<div class="row">
  <h1><%= t("Teaching Materials") %></h1>

  <div class="content description-text">
    <%= html(@page.body) %>
  </div>

  <% @materials.each_slice(3) do |row| %>
  <div class="row">
    <% row.each do |material| %>
    <div class="large-4 columns end">
      <%= render material %>
    </div>
    <% end %>
  </div>
  <% end %>

  <%= paginate @materials %>
</div>
