<% nolink = defined?(nolink) && nolink %>
<div class="<%= content.class.name.underscore.gsub('_', '-') %> card">
  <div class="top">
    <% if content.flag? %>
      <div class="flag"><%= content.flag %></div>
    <% end %>

    <%= yield %>
  </div>

  <% message = nolink ? [:content_tag, :div] : [:link_to, content] %>
  <%= send(*message, class: "bottom", "aria-hidden" => true, "tabindex" => -1) do %>
    <div class="fold"></div>
  <% end %>
</div>
