<div class="row">
  <div class="large-8 large-centered columns">
    <h1>Thanks!</h1>

    <p>Thank you for providing feedback on your experience with EFF's Security Education Companion.</p>
  </div>
</div>
