@mixin add-lesson {
  float: right;
  display: flex;
  margin-bottom: 1rem;

  background: white;
  border: 1px solid $darkest-teal;
  color: $darkest-teal;

  text-align: left;
  cursor: pointer;

  font-size: 1rem;
  line-height: 1rem;
  padding: 0.3rem 1rem 0.3rem 0.8rem;

  &:hover {
    background-color: darken(white, 5%);
    transition: background-color 165ms;
  }
}

@mixin arrow-link($font-size) {
  position: relative;
  display: inline-block;

  background: $dark-teal;
  color: white;
  text-decoration: none;

  font-size: $font-size;
  font-weight: bold;

  line-height: 1.2;

  padding: 0.4*$font-size 2*$font-size;

  clip-path: polygon(
    0% 0%, calc(100% - #{$font-size}) 0%, 100% 50%,
    calc(100% - #{$font-size}) 100%, 0% 100%, #{$font-size} 50%
  );
  -webkit-clip-path: polygon(
    0% 0%, calc(100% - #{$font-size}) 0%, 100% 50%,
    calc(100% - #{$font-size}) 100%, 0% 100%, #{$font-size} 50%
  );

  &:hover {
    color: white;
    background-color: darken($dark-teal, 10%);
    transition: background-color 165ms;
  }
}

.arrow-link {
  @include arrow-link(1rem);
}

.arrow-link-small {
  @include arrow-link(0.8rem);
}
