@mixin add-lesson {
  background: transparent;
  border: 1px solid $darkest-teal;
  color: $darkest-teal;
  display: inline-block;
  white-space: normal;
  width: 20rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;

  font-size: 1rem;
  line-height: 1rem;
  padding: 0.2rem 1rem;


  @include breakpoint(large) {
    float: right;
    margin-bottom: 0;
  }
}

@mixin arrow-link($font-size) {
  position: relative;
  display: inline-block;

  background: $dark-teal;
  color: white;
  text-decoration: none;

  font-size: $font-size;
  line-height: 2 * $font-size;
  font-weight: bold;
  white-space: pre;

  padding: 0 $font-size 0 2*$font-size;

  &:hover {
    color: white;
  }

  &:after {
    position: absolute;
    left: 100%;
    top: 50%;

    height: 0;
    width: 0;

    border: solid transparent;
    border-color: transparent;
    border-left-color: $dark-teal;
    border-width: $font-size;
    margin-top: -$font-size;

    content: "";
  }

  &:before {
    position: absolute;
    left: 0;
    top: 50%;

    height: 0;
    width: 0;

    border: solid transparent;
    border-color: transparent;
    border-left-color: white;
    border-width: $font-size;
    margin-top: -$font-size;

    content: "";
  }
}

.arrow-link {
  @include arrow-link(1rem);
}

.arrow-link-small {
  @include arrow-link(0.8rem);
}
