@mixin arrow-link($font-size) {
  position: relative;
  display: inline-block;

  background: $dark-teal;
  color: white;
  text-decoration: none;

  font-size: $font-size;
  line-height: 2 * $font-size;
  font-weight: bold;
  white-space: pre;

  padding: 0 1.2rem;

  &:hover {
    color: white;
  }

  &:after {
    position: absolute;
    left: 100%;
    top: 0;

    position: absolute;
    left: 100%;
    top: 50%;

    height: 0;
    width: 0;

    border: solid transparent;
    border-color: transparent;
    border-left-color: $dark-teal;
    border-width: $font-size;
    margin-top: -$font-size;

    content: "";
  }
}

.arrow-link {
  @include arrow-link(1rem);
}

.arrow-link-small {
  @include arrow-link(0.8rem);
}
