.homepage {
  .row {
    h2 {
      color: black;
      font-size: 1.6rem;
      line-height: 2rem;
      margin-bottom: 0;
      a,
      a:focus,
      a:active,
      a:hover {
        color: black;
      }
    }


    .see-all {
      font-size: 1rem;
      @include breakpoint(medium) {
        font-size: 1.4rem;
      }
    }
  }
}
