#main-content {
  position: relative;
  margin: 1rem;
  @media #{$medium-up} {
    margin: 2rem 5rem;
  }
  .intro,
  .intro p {
    color: black;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 2rem;
    @media #{$medium-up} {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
  }
  .update {
    border: 2px solid $light-teal;
    padding: 1rem;
  }
  .description-text {
    @media #{$medium-up} {
      font-size: 1.4rem;
      margin-bottom: 1.2rem;
    }
  }

}

.admin-links {
  position: absolute;
  top: 0;
  right: 0;
}

#anon-stats {
  height: 0;
  overflow: hidden;
}
