#page {
  display: flex;

  .share-links-sidebar {
    flex: 0 0;

    .share-links {
      position: sticky;
      top: 2rem;
      margin-bottom: 2rem;
    }
  }

  > #main-content {
    flex: 1 1;
  }
}

.share-links-sidebar {
  display: none;
}

#main-content {
  position: relative;
  margin: 1rem 1rem 6rem;
  @include breakpoint(medium) {
    margin: 0 5rem 2rem 5rem;
  }
  .description-text {
    width: 100%;
    @include breakpoint(medium) {
      margin-bottom: 1.2rem;
      width: 66%;
    }
  }
}

.admin-links {
  position: absolute;
  top: 0;
  right: 0;
}

#anon-stats {
  height: 0;
  overflow: hidden;
}


.pull-quote {
  display: block;
  float: left;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  color: $dark-gray;
  max-width: 22rem;
  margin: 2rem 2rem 2rem 0rem;
  @include breakpoint(medium) {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}

.levels {
  margin: 0.5rem 0 1.5rem;
}

@include breakpoint(small only) {
  .large-8.large-centered.columns {
    padding: 0;
  }
}


.show-for-xlarge-only {
  display: none;
  @include breakpoint(xlarge) {
    display: inline-block;
  }
}
.hide-for-xlarge-only {
  display: inline-block;
  @include breakpoint(xlarge) {
    display: none;
  }
}
