#page {
  display: flex;

  .share-links-sidebar {
    flex: 0 0;

    .share-links {
      position: sticky;
      top: 2rem;
      margin-bottom: 2rem;
    }
  }

  > #main-content {
    flex: 1 1;
  }
}

.share-links-sidebar {
  display: none;
}

#main-content {
  position: relative;
  margin: 1rem 1rem 6rem;
  @include breakpoint(medium) {
    margin: 0 5rem 2rem 5rem;
  }

  .intro,
  .intro p {
    color: black;
    margin-bottom: 1rem;
    @include breakpoint(medium) {
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-bottom: 1.8rem;
    }
  }

  .intro {
    width: 100%;
    @include breakpoint(medium) {
      margin-left: 0;
      margin-right: auto;
      width: 66%;
    }
  }
  .update {
    font-size: 0.8rem;
    line-height: 1.2rem;
    border: 2px solid $light-teal;
    padding: 1rem;
    p {
      font-size: 0.9rem;
      line-height: 1.5rem;
      margin-bottom: 0;
    }
  }
  .description-text {
    width: 100%;
    @include breakpoint(medium) {
      margin-bottom: 1.2rem;
      width: 66%;
    }
  }
}

.admin-links {
  position: absolute;
  top: 0;
  right: 0;
}

#anon-stats {
  height: 0;
  overflow: hidden;
}


.pull-quote {
  display: block;
  float: left;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  color: $dark-gray;
  max-width: 22rem;
  margin: 2rem 2rem 2rem 0rem;
  @include breakpoint(medium) {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}

.levels {
  margin: 0.5rem 0 1.5rem;
}

@include breakpoint(small only) {
  .large-8.large-centered.columns {
    padding: 0;
  }
}
