.difficulty-legend {
  margin: 0;
  li {
    display: inline-block;
    margin-right: 3rem;
  }
}

.difficulty-tag {
  color: black;
  display: inline-block;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0.25rem 0.5rem 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

/* level colors */
.difficulty-tag.beginning {
  background-color: $beginner;
}
.difficulty-tag.intermediate {
  background-color: $intermediate;
}
.difficulty-tag.advanced {
  background-color: $advanced;
}

.icon img {
  height: 9rem;
  margin-bottom: 1rem;
}

.section-topics, .section-lessons {
  #main-content h1 {
    margin-bottom: 0;
  }

  .last-modified {
    clear: left;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .view-lesson-planner {
    margin-top: 1rem;
    position: relative;
    .lesson-planner-link {
      background: $darkest-teal;
      color: white;
      display: inline-block;
      height: 2rem;
      font-size: 0.7rem;
      line-height: 0.8rem;
      padding: 0.3rem 2.7rem 0 1rem;
      position: absolute;
      right: 0;
      text-decoration: none;
      text-transform: uppercase;
      width: 143px;
      @include breakpoint(medium) {
        font-size: 1rem;
        height: 3rem;
        line-height: 1rem;
        margin-right: 2.95rem;
        padding: 0.9rem 1rem;
        width: auto;
      }
    }
    .lesson-arrow {
      background: white;
      width: 0;
      height: 0;
      border-left: 1rem solid $darkest-teal;
      border-right: 1rem solid transparent;
      border-bottom: 1rem solid transparent;
      border-top: 1rem solid transparent;
      position: absolute;
      right: 0;
      @include breakpoint(medium) {
        border-left: 1.5rem solid $darkest-teal;
        border-right: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
        border-top: 1.5rem solid transparent;
      }
    }
  }
  .topics-cards {
    padding-left: 0;
  }
  .topic.card {
    .description {
      font-size: 1.3rem;
      line-height: 1.7rem;
      margin-bottom: 2rem;
    }
  }

  .tags {
    float: left;
    margin: 0 1rem 0 0;
    width: auto;
    @include breakpoint(medium) {
      width: 60%;
    }
  }

  .tabs {
    clear: both;
    margin-top: 3rem;
    position: relative;
  }

  .tabs .tab {
    border-right: 1px solid $teal;
    border-left: 1px solid $teal;
    border-bottom: none;
    display: inline-block;
    font-size: 0.81rem;
    line-height: 1.4rem;
    margin-right: 0;
    position: relative;
    @include breakpoint(medium) {
      font-size: 1rem;
    }
    a {
      display: inline-block;
      font-weight: 600;
      width: 100%;
      height: 100%;
      padding: 0 0.2rem 0 0.2rem;
      @include breakpoint(medium) {
        border-bottom: none;
        font-weight: 400;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
      }

      text-decoration: none;
      text-transform: capitalize;
      &:hover,
      &:focus,
      &:visited {
        color: $darkest-teal;
      }
    }


    &.intro {
      border-top: 2px solid $teal;
    }
    &.beginning {
      border-top: 2px solid $beginner;
    }
    &.intermediate {
      border-top: 2px solid $intermediate;
    }
    &.advanced {
      border-top: 2px solid $advanced;
    }

    @include breakpoint(medium) {
      border-top-width: 3px !important;
    }
  }

  .tabs .tab.active {
    border-bottom: 1px solid white;

    @-moz-document url-prefix() { //firefox only
      border-bottom: 0.13rem solid white;
    }
    z-index: 1;
    a {
      color: $darkest-teal;
    }
  }

  #tab-content {
    border: 1px solid $dark-teal;
    line-height: 1.4rem;
    margin: -1px 0 2rem;
    padding: 1rem 0.5rem 2rem;
    z-index: 0;

    a {
      word-break: break-word;
    }

    h3 {
      font-size: 1.1rem;
      line-height: 1.1rem;
      margin: 1rem 0 0;
    }
    .actions {
      input[type="submit"] {
        @include add-lesson;
      }
    }
    @include breakpoint(medium) {
      font-size: 16px;
      line-height: 1.4rem;
      padding: 2rem;
      h3 {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: 1rem 0 0.7rem 0;
      }
    }
  }
  .notice a {
    @include add-lesson;
    font-style: normal;
    text-decoration: none;
  }


  .new_lesson_plan, .edit_lesson_plan {
    .notice {
      display: none;
    }

    .disabled {
      display: none;
    }

    .disabled + .notice, .disabled + input + .notice {
      display: initial;
    }
  }

  .next-topic {
    text-align: right;
    margin-bottom: 1rem;
  }


  &.page-show {
    .share-links-sidebar {
      display: block;
    }
  }
}

.collapse {
  display: none;

  &.uncollapse {
    display: initial;
  }
}

.meta {
  display: inline-block;
  @include breakpoint(medium) {
    display: flex;

    > * {
      margin: 0 0.5rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.prereqs {
  margin-bottom: 2rem;
}
.instructors-to-learners {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.topics-grid {
  .topic.card {
    border: 1px solid #aaa;
    width: 40%;
    margin-bottom: 2rem;

    float: left;
    &:nth-child(2n) {
      float: right;
    }
  }
}

.pdf-link {
  float: right;
  font-size: 0.9rem;
  text-decoration: none;
}

.view-full {
  float: left;
  font-size: 0.9rem;
  text-decoration: none;
}
