// Place all the styles related to the LessonPlans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// lesson planner
.section-lesson_plans {
  .export {
    margin-bottom: 20px;
  }

  .your-lessons,
  .total-duration {
    @extend h3;
    text-transform: uppercase;
  }

  @include breakpoint(large) {
    .your-lessons {
      float: left;
    }

    .total-duration {
      float: right;
    }

    .large-centered.columns {
      position: relative;
    }

    .export {
      position: absolute;
      top: 0;
      right: 15px;
    }
  }
}

.section-lesson_plans .lesson {
  .icon {
    display: none;
    float: left;
    margin-right: 20px;
    width: 190px;
    text-align: center;

    @include breakpoint(medium) {
      display: block;
    }
  }
}
