.material.card {
  position: relative;
  .material-preview img {
    width: 200px;
    @include breakpoint(inbetween) {
      width: 210px;
    }
  }
}
.section-materials {
  .material.card {
    .fold {
      &:before {
        border: none;
      }
      &:after {
        border: none;
      }
    }
  }
  .material-preview {
    width: 210px;
    .material-download {
      background: $teal;
      text-align: center;
      width: 100%;
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  .material.card .material-preview {
    width: 100%;
  }

  .upload {
    clear: both;
    margin-top: 2rem;
  }

  .upload-description {
    font-weight: 400;
  }
  .material-img {
    padding: 1rem 1rem 1rem 0;
    img {
      border: 1px solid black;
    }
  }
  .material-link {
    float: left;
    margin: 0 0 3rem;
  }


  &.page-show h1 {
    margin-bottom: 0;
  }

  .last-modified {
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
}

.file-preview-fallback {
  width: 210px;
  height: 210px;
  background-color: $light-teal;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $darkest-teal;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

a.file-preview {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.material-details .file-preview img {
  max-width: 350px;
}
