.section-materials {
  .material.card {
    min-height: 10rem;
    padding: 1rem;
    .top {
      margin: 0;
      padding: 0;
    }

    .fold {
      &:before {
        border: none;
      }
      &:after {
        border: none;
      }
    }
  }
  .material-preview {
    width: 210px;
    img {
      border: 1px solid black;
    }
    .material-download {
      background: $teal;
      text-align: center;
      width: 100%;
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  .material.card .material-preview {
    width: 100%;
  }

  .upload-description {
    font-weight: 400;
  }
  .material-img {
    padding: 1rem 1rem 1rem 0;
    img {
      border: 1px solid black;
    }
  }
  .material-link {
    float: left;
  }
}
