.section-materials {
  .material.card {
    min-height: 10rem;
    padding: 1rem;
    .top {
      margin: 0;
      padding: 0;
    }

    .fold {
      &:before {
        border: none;
      }
      &:after {
        border: none;
      }
    }
  }
  .material-preview {
    //width: 210px;
    .material-download {
      background: $teal;
      text-align: center;
      width: 100%;
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  .material.card .material-preview {
    width: 100%;
  }
}
