
.section-search.page-results {
  h2 {
    margin-top: 0;
    font-weight: 300;
  }

  .search-results {
    margin-top: 2.7rem;

    a {
      color: #000;
    }
  }
}

.section-search #main-content form {
  @include breakpoint(small only) {
    display: flex;
  }

  .field {
    display: inline-block;
  }

  input {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0.5rem 0;
  }

  .field.search {
    width: 100%;

    @include breakpoint(medium) {
      width: 300px;
      max-width: 55%;
    }
  }

  input[type=search] {
    padding-left: 0.4rem;
    width: 100%;
  }

  input[type=submit] {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    margin-left: 1rem;

    color: #fff;
    border: 1px solid $darkest-teal;
    background-color: $darkest-teal;

    cursor: pointer;

    @include breakpoint(large) {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }
  }
}
