

.topics-grid {
  .topic.card {
    border: 1px solid #aaa;
    width: 40%;
    margin-bottom: 2rem;

    float: left;
    &:nth-child(2n) {
      float: right;
    }
  }
}

.section-topics, .section-lessons {
  .new_lesson_plan, .edit_lesson_plan {
    .notice {
      display: none;
    }

    .disabled {
      display: none;
    }

    .disabled + .notice, .disabled + input + .notice {
      display: initial;
    }
  }
}

.section-topics.page-index {
  h1 {
    float: left;
  }

  .lesson-planner-link {
    float: right;
  }

  h1 + p, .lesson-planner-link + * {
    clear: left;
  }
}

.section-topics.page-show, .section-lessons.page-show {
  .lesson-planner-link {
    float: right;
  }

  .pdf-link {
    float: right;
  }
}
