

.topics-grid {
  .topic.card {
    border: 1px solid #aaa;
    width: 40%;
    margin-bottom: 2rem;

    float: left;
    &:nth-child(2n) {
      float: right;
    }
  }
}

.section-topics, .section-lessons {
  .new_lesson_plan, .edit_lesson_plan {
    .notice {
      display: none;
    }

    .disabled {
      display: none;
    }

    .disabled + .notice, .disabled + input + .notice {
      display: initial;
    }
  }
}
